<!--Header for the chat-->
<h2>
  Chat opened with: {{ recipientName() ? recipientName() : "User unknown" }}
</h2>
<div class="container-messages" #containerMessages>
  @for (msg of messages()(); track $index) {

  <!--Message-->
  <div
    class="container-messages-message"
    [ngClass]="
      recipientName() == msg.sender
        ? 'container-messages-message-received'
        : 'container-messages-message-sent'
    "
  >
    <div class="container-messages-message-content">
      <span class="text">{{ msg.text }}</span>
      <span class="date">{{ msg.ts | date: 'medium'}}</span>
    </div>
  </div>

  }
</div>
